body{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  list-style: none;
  background: linear-gradient(45deg, #ffafbd, #ffc3a0);
}

#wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#header-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-select-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 10px;
}

li{
  margin: 0 15px;
  padding: 0 10px;
}

#selection-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.selections{
  margin: 0 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 40px;
}

#game-score-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

.scores{
  margin: 0 40px;
  border-radius: 10px;
  padding: 10px 40px;
}

#player-select-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

#player-select-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 10px;
}

#winner-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.winner{
  margin: 10px 50px;
  padding: 0px 15px;
}
